body {
  padding-top: 55px;
  padding-bottom: 20px;
}

.italic{
	font-style: italic;
}
.logoBase:hover, .navbar-default .logoBase:hover {
	color: #679767;
}
.jumbotron > h1 {
	/*margin: auto 20px; */
	text-align: center;
}
.jumbotron > *  {
	text-align: center;
}

img.h2hlogo{
	height: 25px;
}
.company-title .h2hlogo, .h2hlogo {
	width: 29px;
	height: 25px;
}
	
#game-info-main {
   position: relative;
}
#game-info-bg {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}