body {
  padding-top: 55px;
  padding-bottom: 20px;
}

.italic{
	font-style: italic;
}
.logoBase:hover, .navbar-default .logoBase:hover {
	color: #679767;
}
.jumbotron > h1 {
	/*margin: auto 20px; */
	text-align: center;
}
.jumbotron > *  {
	text-align: center;
}

img.h2hlogo{
	height: 25px;
}
.company-title .h2hlogo, .h2hlogo {
	width: 29px;
	height: 25px;
}
